[Unit]
Description=zookeeper service unit
After=skydns2.service
Requires=skydns2.service

[Service]
Restart=on-failure
RestartSec=180
EnvironmentFile=/etc/environment
Environment="DOMAIN_NAME=cluster.duffqiu.org"
ExecStartPre=-/usr/bin/docker kill zookeeper-%i
ExecStartPre=-/usr/bin/docker rm  zookeeper-%i
ExecStartPre==/usr/bin/docker pull duffqiu/zk-fleet:latest
ExecStartPre=/usr/bin/etcdctl set /skydns/org/duffqiu/cluster/zookeeper-1 '{"host":"${COREOS_PRIVATE_IPV4}","port":${ZOOKEEPER_CLIENT_PORT}}'
ExecStartPre=/usr/bin/etcdctl set /skydns/org/duffqiu/cluster/zookeeper-2 '{"host":"${COREOS_PRIVATE_IPV4}","port":${ZOOKEEPER_CLIENT_PORT}}'
ExecStartPre=/usr/bin/etcdctl set /skydns/org/duffqiu/cluster/zookeeper-3 '{"host":"${COREOS_PRIVATE_IPV4}","port":${ZOOKEEPER_CLIENT_PORT}}'
ExecStart=/usr/bin/docker run --rm \
                              --name zookeeper-%i \
                              -e ZK_SERVER_ID=%i \
                              --hostname zookeeper-%i.${DOMAIN_NAME} \
                              --dns-search ${DOMAIN_NAME} \
                              --dns ${COREOS_PRIVATE_IPV4} \
                              -p ${COREOS_PRIVATE_IPV4}:2181:2181 \
                              -p ${COREOS_PRIVATE_IPV4}:2888:2888 \
                              -p ${COREOS_PRIVATE_IPV4}:3888:3888 \
                              -v /home/core/vdb/zk/data:/zookeeper/data \
                              duffqiu/zk-fleet:latest
ExecStop=-/usr/bin/docker stop zookeeper-%i

[X-Fleet]
X-Conflicts=zookeeper@*.service
